<div class="px-home-container">
    <div class="px-home-body-container">
        <div class="px-home-body">
            <h3>
                Gainsight PX
            </h3>
    
            <p>
                Autonomous feature instrumentation to reveal the best opportunities for growth
            </p>
            <p>
                Path and funnel analysis to shadow user behavior, identify friction points and mitigate adoption risk
            </p>
            <p>
                Native integrations with CS and CRM to tie product investments to bookings, retention, expansion
            </p>
            <p>
                Easy editing for in-app engagements and onboarding checklists to scale time-to-value
            </p>
            <p>
                Native email campaigns to accelerate user activation and increase release awareness
            </p>
            <p>
                Advanced throttling and prioritization to avoid user fatigue and maximize engagement
            </p>
        </div>
    
        <div class="px-home-draggable">
            <div class="example-box" cdkDrag>
                Widget 1
            </div>
    
            <div class="example-box" cdkDrag>
                Widget 2
            </div>
        </div>
    </div>

    <div class="px-home-buttons">
        <button class="btn btn-primary login_button">
            Button 1
        </button>
        <button class="btn btn-primary login_button">
            Button 2
        </button>
    </div>
    
</div>
