<div class="px-app-container">

  <!-- nav -->
  <nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      <a class="nav-item nav-link" routerLink="/widgets" routerLinkActive="active">Widgets</a>
      <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>